html {
    scroll-behavior: smooth; 
  }

* {
    box-sizing: border-box;
  }

  body {
    max-width: 1024px;
    margin: 0 auto;    
    padding: 50px;
    border: 5px solid black;
    }

code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }

.photo{
    width: 100px;
    height: 100px;
  }

  .rs-logo{
    width: 50px;
  }

  .section{
    padding: 5px 0;
  }
